
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}
body{
    background-color:hsl(225, 100%, 94%);
    background-image: url("./order-summary-component/images/pattern-background-desktop.svg");
    font-family: 'Red Hat Display', sans-serif;
    display:flex;
    align-items:baseline;
    text-align:center;
    justify-content:center;
    background-repeat:no-repeat;
    background-size: contain;
}

img{
    /* background-image: url(/order-summary-component/images/illustration-hero.svg); */
    border-radius:15px 15px 0 0;
    margin-top: 30px;
    background-color:hsl(225, 100%, 94%);
}

.white{
    background-color:white;
    border-radius:0 0 15px 15px;
    height:400px;
    width:450px;
    position:relative;
    /* margin-bottom:20px; */
    /* font-size:20px; */
    margin-top:-15px;
    padding: 20px 20px;
    justify-content: center;
}
.white{
    font-size:25px;
    /* margin-top:10px; */
}
.text2{
    color:grey;
    padding-top: 20px;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 5px;
}
.box{
    background-color:hsl(205, 100%, 94%);
    height: 100px;
    width:420px;
    /* position:relative; */
    border-radius:15px;
    margin-top:20px;
    display: flex;
    justify-content:space-evenly;
    /* padding:60px; */
}
.icon{
    /* margin-left:20px; */
    /* margin-right: 10px; */
    margin-bottom:22px;
    border-radius:25px 25px 25px 25px;
    
}
.flex1{
    /* margin-right:180px; */
    margin-top:19px;
    font-size:25px;
    padding-right: 90px;
}
.change{
    color:grey;
    /* margin-left:60px; */
}
.different{
    margin-top: 30px;
}
.box2{
    background-color: hsl(245, 75%, 52%);
    height:60px;
    width:420px;
    margin-top:20px;
    border-radius: 50px;
    text-align: center;
    color:white;
    box-shadow: 2px 2px 2px 4px hsl(225, 100%, 94%);
    padding-top: 15px;
    font-size: 25px;
}
.last{
    color:grey;
    font-size:17px;
    margin-top: 12px;
}
.box2:hover{
    opacity:0.7;
    cursor:pointer;
}
.last:hover{
    color:black;
    cursor:pointer;
}
.different:hover{
    text-decoration: none;
    cursor:pointer;
}

